<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Test Lists</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            background-color: #3c3f41;
            color: #eee;
            position: relative;
        }

        a {
            display: inline-block;
            text-align: center;
            padding: 2em 2em 2em;
        }

        nav#header {
            color: #f5f5f5;
            font-family: Oxygen, sans-serif;
            display: block;
            text-align: right;
            padding: 2em;
            margin: 1em;
            position: relative;
        }


        span{
            display: inline-block;
            max-width: 25em;
            border: 1px solid gray;
            padding: 2em;
        }

        h3#caption{
            color: #f5f5f5;
            font-family: Oxygen, sans-serif;
            font-size: 15px;
        }

        p {
            font-family: Oxygen, sans-serif;
        }

        h1#main_heading {
            color: #f5f5f5;
            font-size: 75px;
        }

        div{
            padding-top: 10em;
            text-align: center;
        }


    </style>

    <script>

    </script>
</head>
<body>

<nav id="header">
    <a id="home" href="/uitest/">Home</a>
    <a id="list" href="/tests/lists/">List Tests</a>
    <a id="take" href="/tests/test/:num/">Take Test</a>
    <a id="upload" href="/tests/upload/">Upload Test</a>
    <a id="login" href="/signup/">Signup/Login</a>
</nav>
<div id="main">
    <h1 id="main_heading">Tests</h1>
    <span><h3 id="caption"/>Test Id</h3>
        <p>
            <a href="/tests/123ec">123ec</a>
        </p>
        <p>
            <a href="/tests/345rf">345rf</a>
        </p>
    </span>
    <span><h3 id="caption"/>Description</h3>
        <p>DOM Scripting Test</p>
        <p>Objects and Functions Test</p>
    </span>
    <span><h3 id="caption"/>Uploader Info</h3>
        <p>Uploader Info</p>
    </span>
</div>

<footer id="footer">
    <div class="copyright">&copy; Go Live Labs.  All rights reserved. 2014.</div>
</footer>

</body>
</html>